<%- include('../_layouts/sp_header') %>
<section id="move-content" class="addvehicle">
    <h2 class="font-bold text-lg mb-4 px-4">Add a Vehicle</h2>
    <div class="px-4">
        <button type="button"
            class="add-category btn-primary text-white focus:outline-none font-bold py-2 px-5 rounded"><a class="block"
                href="/service_provider/vehicles">Back to Vehicles</a></button>
    </div>
    <br><br>

    <form method="POST" name="addVehicle" action="/service_provider/add_vehicle" id="addVehicleForm"
        onsubmit="return vehicle_typeValidate()">
        <% if (messages.error) { %>
        <span class="text-red-500 text-sm"><%= messages.error %> </span>
        <% } %>
        <div class="grid grid-rows-2 grid-cols-2 gap-2 w-1/2">
            <div class="form-group row-span-2 focus:ring-2 focus:ring-blue-600 p-4">
                <label for="">Vehicle Type</label>
                <select
                    class="form-control block shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="vehicle_type" id="vehicle_type">
                    <option value="selector" selected hidden>Choose here</option>
                    <% parcels.forEach(function(parcel){ %>
                    <option value="<%= parcel.vehicle_type %>"><%= parcel.vehicle_type %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group row-span-2 p-4">
                <label for="">Color</label>
                <input type="text" maxlength="20"
                    class="form-control block shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="color" name="color" value="<%= messages.color %>" placeholder="Input color">
            </div>
            <div class="form-group  p-4">
                <label for="">Brand</label>
                <input type="text" maxlength="20"
                    class="form-control block shadow appearance-none border rounded w-0.75 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="brand" name="brand" value="<%= messages.brand %>" placeholder="Input brand name">
            </div>
            <div class="form-group p-4">
                <label for="">Image</label>
                <input type="text" maxlength="30"
                    class="form-control block shadow appearance-none border rounded w-0.75 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="image" name="image" value="<%= messages.image %>" placeholder="Input image file">
            </div>
            <div class="form-group p-4">
                <label for="">Model</label>
                <input type="text" maxlength="20"
                    class="form-control block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="car_model" name="car_model" value="<%= messages.car_model %>" placeholder="Input model name">
            </div>
            <div class="form-group p-4">
                <label for="">Plate Number</label>
                <input type="text" maxlength="8"
                    class="form-control block shadow appearance-none border rounded w-0.75 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="plate_number" name="plate_number" pattern="[- +()0-9+()A-Z]+"
                    value="<%= messages.plate_number %>" placeholder="Input plate number">
            </div>
            <div class="form-group mb-4 p-4">
                <label for="">Weight (kg)</label>
                <input type="number" min="0" pattern="/^-?\d+\.?\d*$/"
                    onKeyPress="if(this.value.length==5) return false;" oninput="this.value = 
 !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                    class="form-control block shadow appearance-none border rounded w-0.75 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="weight" name="weight" value="<%= messages.weight %>" placeholder="Input a weight (in kg) ">
            </div>
        </div>

        <div class="px-4 py-2">
            <button id="addVehicle"
                class="btn-primary rounded-full text-white font-bold block py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Add Vehicle
            </button>
        </div>
    </form>
</section>
<script>
    const plate_number = document.getElementById('plate_number');
    plate_number.addEventListener("keydown", (e) => {
        if (e.key === "Backspace" || e.key === "Delete") return;
        if (e.target.value.length === 3) {
            plate_number.value = plate_number.value + "-";
        }
    })
</script>
<script>
    const license = document.getElementById('license');
    license.addEventListener("keydown", (e) => {
        if (e.key === "Backspace" || e.key === "Delete") return;
        if (e.target.value.length === 3) {
            license.value = license.value + "-";
        }
        if (e.target.value.length === 7) {
            license.value = license.value + "-";
        }
    })
</script>

<script>
    function vehicle_typeValidate() {
        var x = document.addVehicle.vehicle_type;
        var selectedValue = x.options[x.selectedIndex].value

        if (selectedValue == "selector") {
            Swal.fire({
                timer: 1500,
                showConfirmButton: false,
                title: 'Vehicle type not Selected',
                text: 'Please select a Vehicle type',
                type: 'error',
                icon: 'error'
            })
            return false;
        } else {
         
         }
         }
         </script>
         <script>
             let vehicle_type = document.querySelector('input[name="vehicle_type"]:checked').value;
         </script>
</body>
</html>