<%- include('../_layouts/sp_header') %>
<section id="move-content" class="assign_rider light-section">
    <h2 class="font-bold text-lg pt-8 mb-4 px-4">Order <%=order.tracking_id%> </h2>
    <div class="px-4">
        <button type="button"
            class="assign-rider btn-primary text-white focus:outline-none font-bold py-2 px-5 rounded"><a
                href="/service_provider/orders"> Back to Orders</a></button>
    </div>
    <form class="flex justify-center content-center" action="/service_provider/assign_rider/<%= order._id %>" method="post">
        <div class="pt-2 px-2 row-span-3">
            <h2 class="font-bold text-md text-left text-black">Filter</h2>
            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                id="term_rider" type="term_rider" name="term_rider" value="<%= term_rider %>">
        </div>
        <div class="px-2 pt-4 mt-4">
            <button type="submit"
                class="search-vehicle bg-blue-500 text-white focus:outline-none font-bold pt-2 py-2 px-5 rounded">Search</button>
        </div>
    </form>
  
   <% if (messages.blank) { %>
   <div class="block flex grid grid-rows-4 justify-center text-gray-900 text-md pt-5">
       <span>Your search <b class="text-green-500">-<%= messages.blank %></b>- did not match any records</span>
       <span class="block pt-3">Suggestions:</span>
       <span class="block">• Make sure all words are spelled correctly.</span>
       <span class="block">• Try different keywords.</span>
       <span class="block">• Try more general keywords.</span>
   </div>
   <% } %>
    <div class="container mx-auto pt-12 flex justify-center fixed">
        <table class="w-1/2 table-auto bg-white">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border px-4 py-2 text-left w-1/3"><%= user.company_name %> Riders</th>
                    <th class="border px-4 py-2 text-left w-1/12">Assign </th>
                    <th class="border px-4 py-2 text-left w-1/12">Pending Orders </th>
                </tr>
            </thead>
            <tbody>
                <% if (searchedRider) { %>
                <% searchedRider.forEach(function(rider){ %>
                <tr>
                    <td class="border px-4 py-2 text-left text-green-500"><%= rider.name %>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <button id="assignRider" type="button" data-assign2="<%= JSON.stringify(rider) %>" class="assignRider bg-blue-500 hover:bg-blue-700 text-white block font-bold py-2 px-5
                                rounded"><i class="las la-truck-moving"></i> Assign</button>
                    </td>
                    <td class="border px-4 py-2 text-left">

                    </td>
                </tr>
                <% }); %>
                <% } else { %>
                <% riders.forEach(function(rider){ %>
                <tr>
                    <td class="border px-4 py-2 text-left text-green-500"><%= rider.name %>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <button id="assignRider" type="button" data-assign2="<%= JSON.stringify(rider) %>" class="assignRider bg-blue-500 hover:bg-blue-700 text-white block font-bold py-2 px-5
                                rounded"><i class="las la-truck-moving"></i> Assign</button>
                    </td>
                        <td class="border px-4 py-2 text-left">
                            
                        </td>
                </tr>
                <% }); %>
                <% } %>
            </tbody>
        </table>

        <script>
            //assign rider dialog box
           let assignRider = document.querySelectorAll('#assignRider');
           let id = '<%-order.tracking_id %>'
           let order_id = '<%-order._id %>'
           assignRider.forEach((btn) => {
               btn.addEventListener('click', (e) => {
                   let rider = JSON.parse(btn.dataset.assign2);
                   console.log(rider)
                   sweetalertAssignRider(rider);
               });
           });
   
           function sweetalertAssignRider(rider) {
               Swal.fire({
                       title: 'Are you sure?',
                       html: "You will assign " + rider.name +"<br> to Order #"+id,
                       icon: 'warning',
                       showCancelButton: true,
                       confirmButtonColor: '#3085d6',
                       cancelButtonColor: '#d33',
                       confirmButtonText: 'Confirm'
                   }).then((result) => {
                           if (result.isConfirmed) {
                               Swal.fire({
                                   timer: 1000,
                                   showConfirmButton: false,
                                   title: 'Rider Assigned',
                                   text: 'This rider has been successfully assigned!',
                                   type: 'success',
                                   icon: 'success'
                               })
                               setTimeout(() => {
                                   document.location.href = "/service_provider/assign_rider/"+order_id+"/"+rider._id;
                               }, 1500)
   
   
                   }
                   })
                   }
           </script>
         <% if (riderAssigned) { %>
        <script>
            Swal.fire({
                timer: 1500,
                showConfirmButton: false,
                title: 'Rider Assigned',
                text: name + ' has been assigned to order ' + id,
                type: 'success',
                icon: 'success'
            })
        </script>

        <% } %>
        <script>
            /* Optional Javascript to close the radio button version by clicking it again */
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");

                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
        </script>
     
    </div>
</section>
</body>

</html>