<section class="parcel py-16">
    <% if (session.order) {%>
    <div class="order-container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Parcel Information</h1>
        </div>
        <div class="vehicle-list">
            <% for(let parcel of Object.values(session.order.info)) { %>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/<%= parcel.info.image %>" alt="">
                <div class="flex-1 ml-4">
                    <h1><%= parcel.info.vehicle_type %></h1>
                    <span><%= parcel.info.weight %></span>
                </div>
                <span class="flex-1">MrSpeedy</span>
                <span class="flex-1"><%= parcel.qty %></span>
                <span class="flex-1"><button data-parcel="<%= JSON.stringify(parcel) %>" id="del-parcel" class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="button">-</button></span>
                <span class="font-bold text-lg">₱<%= parcel.info.price * parcel.qty %></span>
            </div>
            <% } %>


        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total amount:</span>
                <span class="amount text-2xl font-bold ml-2">₱<%= session.order.total_price%></span>
            </div>
            <% if(user) { %>
            <div>
                <form action="/orders" method="POST" class="mt-12">
                    <% if (messages.error) { %>
                    <span class="text-red-500 text-sm p-2 w-1/2 mb-4"><%= messages.error %> </span>
                    <% } %>
                    <input id="phone" name="phone" maxlength="12" class="border border-gray-400 p-2 w-1/2 mb-4"
                        type="phone" placeholder="Phone Number(+63)">
                    <input id="pickup_address" name="pickup_address" class="border border-gray-400 p-2 w-1/2 mb-4"
                        type="text" placeholder="Pickup Address">
                    <input id="dropoff_address" name="dropoff_address" class="border border-gray-400 p-2 w-1/2"
                        type="text" placeholder="Dropoff Address">
                    <div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Book
                            Now</button>
                    </div>
                </form>
            </div>
            <%} else { %>
            <a href="/login"
                class="inline-block cursor-pointer px-6 btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to Continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-parcel py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">You got no parcel on cart 😕</h1>
            <p class="text-gray-500; text-lg mb-12">You probably haven't booked a parcel or you've already booked one. <br>
                To book a delivery, go to the main page.</p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div>
    <% } %>
</section>